<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="main.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--二、生成二个thymeleaf网页模板：layout和main。在main定义头部导航、侧栏导航和底部和主体部分，-->
<!--在layout中引用定义在main中的所有部分并引入bootstrap框架。-->
<!--要求：以上两题的主体部分为显示一列表（如学生信息列表）。-->
<!--将两种做法生成的网页发到qq群。-->

</body>
</html>